{% load static %}
{% load data_utilities %}
{% block content %}
    <div class="">
        <div class="row">
            <div class="col-12">
                <div class="content-pop">
                    <div class="row">
                        <div class="col-12">
                            <div class="">
                                <div class="row">
                                    <div class="spell-table">
                                        <div class='WindowNestedTanTitleBar eq-header'>
                                            <h2>Character Spells</h2>
                                        </div>
                                        <div style="font-style:italic; text-align:center;">
                                            <span style="font-weight:bold; margin-left:20px;">Note:</span>&nbsp;
                                            Spell names in&nbsp;<span style="color:#00FF00;">green</span>&nbsp;are
                                            scribed in the character's spell book.
                                        </div>
                                        {% include 'spells/partials/_spell_list.html' with character_spells=character_spells %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
