{% load static %}
{% load data_utilities %}
{% block content %}
    <div class="">
        <div class="row">
            <div class="col-12">
                <div class="content-pop">
                    <div class="row">
                        <div class="col-12">
                            <div class="">
                                <div class="row">
                                    <div class="spell-table">
                                        <div class='WindowNestedTanTitleBar eq-header'>
                                            <h2>Character Spells</h2>
                                        </div>
                                        <div style="font-style: italic; text-align: center;">
                                            <span style="font-weight: bold; margin-left: 20px;">Note:</span>&nbsp;
                                            Spell names in&nbsp;<span style="color: #00FF00;">green</span>&nbsp;are
                                            scribed in the character's spell book.
                                        </div>
                                        <div class="row mb-2 px-3">
                                            <div class="col-md-4">
                                                <label for="spell-filter"></label>
                                                <input class="form-control" type="text" id="spell-filter"
                                                       placeholder="Search..."/>
                                            </div>
                                            <div class="col-md-4">
                                                <label for="expansion-filter"></label>
                                                <select class="form-control" id="expansion-filter">
                                                    <option value="">All Expansions</option>
                                                    <option value="0">Original EverQuest</option>
                                                    <option value="1">Ruins of Kunark</option>
                                                    <option value="2">Scars of Velious</option>
                                                    <option value="3">Shadows of Luclin</option>
                                                    <option value="4">Planes of Power</option>
                                                    <option value="5">Legacy of Ykesha</option>
                                                    <option value="6">Lost Dungeons of Norrath</option>
                                                </select>
                                            </div>
                                            <div class="col-md-4">
                                                <label for="level-filter"></label>
                                                <select class="form-control" id="level-filter">
                                                    <option value="">All Levels</option>
                                                    {% for level in spell_list.keys %}
                                                        <option value="{{ level }}">Level {{ level }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <table id="spell-table" class="eq-table bordered eq-highlight-rows">
                                            <thead class="eq-table-floating-header">
                                            <tr>
                                                <th scope="col" style="width: auto; min-width: 300px;">Spell Name</th>
                                                <th scope="col" style="width: auto;">Class</th>
                                                <th scope="col">Mana</th>
                                                <th scope="col">Skill</th>
                                                <th scope="col">Target Type</th>
                                                <th scope="col" style="width: 200px;">Scroll Name</th>
                                                <th scope="col">Expansion</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% define 1 as current_level %}
                                            <tr data-level-header="1">
                                                <th scope="col" colspan="8"
                                                    style="text-align:center; background-color: #000; color: #FFF;">
                                                    Level {{ current_level }}
                                                </th>
                                            </tr>
                                            {% for level, current_level_list in spell_list.items %}
                                                {% for spell in current_level_list %}
                                                    {% if spell.level > current_level %}
                                                        {% define spell.level as current_level %}
                                                        <tr data-level-header="{{ current_level }}">
                                                            <th scope="col" colspan="8"
                                                                style="text-align:center; background-color: #000; color: #FFF;">
                                                                Level {{ current_level }}
                                                            </th>
                                                        </tr>
                                                    {% endif %}
                                                    <tr data-spell-row="true" data-expansion="{{ spell.expansion }}" data-level="{{ spell.level }}">
                                                        <td>
                                <span class="d-inline-block">
                                    <img src="/static/images/icons/{{ spell.custom_icon }}.gif"
                                         alt="{{ spell.custom_icon }}.gif">
                                </span>
                                {% if spell.spell_id in character_spells %}
                                <span class="ml-3"
                                      style="color: #00FF00; position: relative; top: -10px;">
                                        <a href="/spells/view/{{ spell.spell_id }}" style="color: #00FF00; text-decoration: none;">{{ spell.name }}</a>
                                </span>
                                {% else %}
                                <span class="ml-3"
                                      style="color: #FFF; position: relative; top: -10px;">
                                        <a href="/spells/view/{{ spell.spell_id }}" style="color: #FFF; text-decoration: none;">{{ spell.name }}</a>
                                </span>
                                {% endif %}
                                &nbsp;<span class="ml-3"
                                      style="color:#FFF; position: relative; top: -10px;">
                                        [<a href="https://lucy.allakhazam.com/spell.html?id={{ spell.spell_id }}&source=Live"
                                            target="_blank">Lucy</a>]
                                </span>
                                                        </td>
                                                        <td>
                                                            {% if spell.classes1 != 255 %}
                                                                <span>WAR&nbsp;({{ spell.classes1 }})</span>{% endif %}
                                                            {% if spell.classes2 != 255 %}
                                                                <span>CLR&nbsp;({{ spell.classes2 }})</span>{% endif %}
                                                            {% if spell.classes3 != 255 %}
                                                                <span>PAL&nbsp;({{ spell.classes3 }})</span>{% endif %}
                                                            {% if spell.classes4 != 255 %}
                                                                <span>RNG&nbsp;({{ spell.classes4 }})</span>{% endif %}
                                                            {% if spell.classes5 != 255 %}
                                                                <span>SHD&nbsp;({{ spell.classes5 }})</span>{% endif %}
                                                            {% if spell.classes6 != 255 %}
                                                                <span>DRU&nbsp;({{ spell.classes6 }})</span>{% endif %}
                                                            {% if spell.classes7 != 255 %}
                                                                <span>MNK&nbsp;({{ spell.classes7 }})</span>{% endif %}
                                                            {% if spell.classes8 != 255 %}
                                                                <span>BRD&nbsp;({{ spell.classes8 }})</span>{% endif %}
                                                            {% if spell.classes9 != 255 %}
                                                                <span>ROG&nbsp;({{ spell.classes9 }})</span>{% endif %}
                                                            {% if spell.classes10 != 255 %}
                                                                <span>SHM&nbsp;({{ spell.classes10 }})</span>{% endif %}
                                                            {% if spell.classes11 != 255 %}
                                                                <span>NEC&nbsp;({{ spell.classes11 }})</span>{% endif %}
                                                            {% if spell.classes12 != 255 %}
                                                                <span>WIZ&nbsp;({{ spell.classes12 }})</span>{% endif %}
                                                            {% if spell.classes13 != 255 %}
                                                                <span>MAG&nbsp;({{ spell.classes13 }})</span>{% endif %}
                                                            {% if spell.classes14 != 255 %}
                                                                <span>ENC&nbsp;({{ spell.classes14 }})</span>{% endif %}
                                                            {% if spell.classes15 != 255 %}
                                                                <span>BST&nbsp;({{ spell.classes15 }})</span>{% endif %}
                                                        </td>
                                                        <td>{{ spell.mana }}</td>
                                                        <td>{{ spell.skill }}</td>
                                                        <td>{{ spell.target_type }}</td>
                                                        <td>
                                                            {% for scroll in spell.scrolls %}
                                                                <div>
                                                                    <a href="/items/view/{{ scroll.0 }}"
                                                                       target="_blank">{{ scroll.1 }}&nbsp;({{ scroll.0 }})</a>
                                                                </div>
                                                            {% endfor %}
                                                        </td>
                                                        <td><img
                                                                src="/static/images/{{ spell.expansion|expansion_icon }}"
                                                                alt="{{ spell.expansion }}"/></td>
                                                    </tr>
                                                {% endfor %}
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}