{% extends 'spells/base.html' %}
{% load static %}
{% load data_utilities %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'spells/css/eq-ui.css' %}">
{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/spell_filters.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="flex-shrink-0">
        <div class="container py-4">
            <div class="row eq-window-complex-fancy">
                <h2 class="col-12 text-center eq-header">
                    {% if class_id == 8 %}
                        {{ class_id|player_class }} Songs by Level
                    {% else %}
                        {{ class_id|player_class }} Spells by Level
                    {% endif %}
                </h2>
                <div class="col-12">
                    {% include 'spells/partials/_spell_list.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
