{% load static %}
{% load data_utilities %}
{% block content %}
    <div class="container-fluid px-4 eq-window-simple">
        <div class="eq-header" style="text-align: center; font-size: 24px;">Legacy of Ykesha</div>
        <div class="eq-window-nested-tan row align-items-start">
            <div class="col px-4">
                <p style="font-weight: bold;">Broken Skull Rock</p>
                <ul>
                    <li><a href="/zones/view/gunthak" title="Gulf of Gunthak">Gulf of Gunthak</a></li>
                    <li><a href="/zones/view/dulak" title="Dulak's Harbor">Dulak's Harbor</a></li>
                    <li><a href="/zones/view/torgiran" title="Torgiran Mines">Torgiran Mines</a></li>
                </ul>
            </div>

            <div class="col">
                <p style="font-weight: bold;">Dungeons</p>
                <ul>
                    <li><a href="/zones/view/hatefury" title="Hate's Fury">Hate's Fury</a></li>
					<li><a href="/zones/view/nadox" title="Crypt of Nadox">Crypt of Nadox</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
