{% load static %}
{% load data_utilities %}
{% block content %}
    <div class="container-fluid px-4 eq-window-simple">
        <div class="eq-header" style="text-align: center; font-size: 24px;">Planes of Power</div>
        <div class="eq-window-nested-tan row align-items-start">
            <div class="col px-4">
                <p style="font-weight: bold;">Tier 1</p>
                <ul>
                    <li><a href="/zones/view/ponightmare" title="Plane of Nightmare">Plane of Nightmare</a>
                        <ul>
                            <li><a href="/zones/view/nightmareb" title="Lair of Terris Thule">Lair of Terris Thule</a></li>
                        </ul>
                    </li>
                    <li><a href="/zones/view/podisease" title="Plane of Disease">Plane of Disease</a></li>
                    <li><a href="/zones/view/poinnovation" title="Plane of Innovation">Plane of Innovation</a></li>
                    <li><a href="/zones/view/pojustice" title="Plane of Justice">Plane of Justice</a></li>
                </ul>
                <p style="font-weight: bold;">Tier 2</p>
                <ul>
                    <li><a href="/zones/view/postorms" title="Plane of Storms">Plane of Storms</a></li>
                    <li><a href="/zones/view/povalor" title="Plane of Valor">Plane of Valor</a></li>
                    <li><a href="/zones/view/potorment" title="Plane of Torment">Plane of Torment</a></li>
                    <li><a href="/zones/view/codecay" title="Ruins of Lxanvom">Ruins of Lxanvom (Crypt of Decay)</a></li>
                </ul>
                <p style="font-weight: bold;">Tier 3</p>
                <ul>
                    <li><a href="/zones/view/hohonora" title="Halls of Honor">Halls of Honor</a>
                        <ul>
                            <li><a href="/zones/view/hohonorb" title="Temple of Marr">Temple of Marr</a></li>
                        </ul>
                    </li>
                    <li><a href="/zones/view/bothunder" title="Torden, the Bastion of Thunder">Torden, the Bastion of Thunder</a></li>
                    <li><a href="/zones/view/potactics" title="Drunder, Fortress of Zek">Drunder, Fortress of Zek (Plane of Tactics)</a></li>
                </ul>
            </div>
            <div class="col py-5">
                <img alt="Planes of Power zone connection map" src="{% static '/images/planes_of_power_map.jpg' %}" width="337"
                     height="307"/>
            </div>
            <div class="col">
                <p style="font-weight: bold;">Cities</p>
                <ul>
                    <li><a href="/zones/view/poknowledge" title="Plane of Knowledge">Plane of Knowledge</a></li>
                    <li><a href="/zones/view/potranquility" title="Plane of Tranquility">Plane of Tranquility</a></li>
                </ul>
                <p style="font-weight: bold;">Tier 4</p>
                <ul>
                    <li><a href="/zones/view/solrotower" title="Solusek Ro's Tower">Solusek Ro's Tower</a></li>
                    <li><a href="/zones/view/pofire" title="Doomfire, the Burning Lands">Doomfire, the Burning Lands</a></li>
                    <li><a href="/zones/view/poair" title="Eryslai, the Kingdom of Wind">Eryslai, the Kingdom of Wind</a></li>
                    <li><a href="/zones/view/powater" title="Reef of Coirnav">Reef of Coirnav</a></li>
                    <li><a href="/zones/view/poeartha" title="Vegarlson, the Earthen Badlands">Vegarlson, the Earthen Badlands</a>
                        <ul>
                            <li><a href="/zones/view/poearthb" title="Ragrax, Stronghold of the Twelve">Ragrax, Stronghold of the Twelve</a></li>
                        </ul>
                    </li>
                </ul>
                <p style="font-weight: bold;">Tier 5</p>
                <ul>
                    <li><a href="/zones/view/potimea" title="Plane of Time A">Plane of Time A</a></li>
                    <li><a href="/zones/view/potimeb" title="Plane of Time B">Plane of Time B</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
